body{
    font: larger;color: crimson; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-image: url('fita.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    font-size: large;
    text-shadow: cornsilk, 7px, 10px;

}